/* .header {
    background: #68c93e;
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.logo {
    width: 100px;

}

.logo img {
    width: 100px;

}

.troley {
    position: relative;
}

.troley img {
    width: 30px;
    margin-top: 15px;
}

.count {
    background: #2d3c8d;
    padding: 10px;
    border-radius: 50%;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    color: white;
    font-size: 11px;
    position: absolute;
    bottom: 0px;
    left: -11px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 10px;
    width: 320px;
    border-radius: 4px;
    justify-content: center;
    margin-left: 32px;
    box-shadow: -2px 7px 30px -1px rgba(0,0,0,0.31);
}
.card img {
    width: 100%;
}

.counter {
    width: 300px;
    justify-content: center;
    margin: auto;
}


.minus {
    background-color: #2d3c8d; 
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
    margin: 2px;
}
.plus {
    background-color: #2d3c8d;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
    margin: 2px;
}

.text-count {
        padding: 18px 8px;
        margin: 8px 0;
        font-size: 14px;
        text-align: center; 
        box-sizing: border-box;
      
}
.product-price {
    color: sandybrown;
    font-size: 18px;
    font-weight: 500;
}

.product-title {
    color: rgb(32, 32, 32);
    font-size: 18px;
    font-weight: 500;

}
 */
.header {
    background: #68c93e;
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.troley {
    position: relative;
}

.troley img {
    width: 30px;
    margin-top: 15px;
}

.count {
    background: #2d3c8d;
    padding: 10px;
    border-radius: 50%;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    color: white;
    font-size: 11px;
    position: absolute;
    bottom: -8px;
    left: -13px;
}

.header .logo img {
    margin: 0;
    margin-top: 15px;
}

.card {
    width: 340px;
    height: 495px;
    box-sizing: border-box;
    margin-left: 30px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.49);
}

.img-thumb-prod img {
    width: 95%;
    margin-left: 9px;
    margin-top: 9px;
}

.product-title {
    font-weight: 700;
    margin: 10px;
}

.product-prince {
    color: orange;
    font-weight: 700;
    margin-left: 10px;
}

.minus,
.plus {
    color: white;
    height: 45px;
    width: 45px;
    background: rgb(0, 0, 145);
    border-radius: 5px;
    border: 0;
    margin: 2px 6px;
}

.counter {
    margin-left: 12px;
    margin-bottom: 10px;
}

.counter input {
    height: 40px;
    width: 200px;
    border-radius: 3px;
    border: 1px solid gray;
    text-align: center;
}